* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}

ul li {
  list-style: none;
}
